/* Created by: Charlotte Jhu
* Created on: March 2023
* This file contains the CSS for index.html
*/

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 20pt;
  padding-right: 20pt;
  padding-top: 20pt;
  font-family: Georgia, serif;
}

.page-content-instructions {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
}

.page-content-answer {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
}

.right-image {
  height: 250px;
  width: auto;
  float: right;
}

body {
  background-color: lightblue;
}
